<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.ssm.dao.IMomentDao">
<resultMap type="com.zy.ssm.domain.Moment" id="resultMomentMap">
	<id property="id" column="m_id" />
	<result property="content" column="m_content" javaType="String" jdbcType="BLOB"/>
	<result property="userId" column="m_user_id"  />
	<result property="zanNum" column="zan_num" />
	<result property="commentNum" column="comment_num"/>
	<result property="createDate" column="m_create_date"/>
	<association property="user" javaType="com.zy.ssm.domain.User">
		<id property="id" column="m_user_id"/>
		<result property="name" column="m_name" />
		<result property="avater" column="m_avater" /> 
	</association>
	 <collection property="comments" ofType="com.zy.ssm.domain.Comment" >
	 	<id property="id" column="c_id" />
		<result property="content" column="c_content" javaType="String" jdbcType="VARCHAR" />
		<result property="createDate" column="c_create_date"/>
		<association property="user" javaType="com.zy.ssm.domain.User" >
			<id property="id" column="c_user_id" />
			<result property="name" column="c_name" />
			<result property="avater" column="c_avater"/>
		</association>
	</collection> 
</resultMap>

<select id="getMomentByUserId" resultMap="resultMomentMap">
	select m.id as m_id, m.content as m_content,m.user_id as m_user_id,m.zan_num,m.comment_num,m.create_date as m_create_date,
	c.content as c_content,c.create_date as c_create_date,c.id as c_id,
	u1.name as m_name,u1.avater as m_avater,u2.name as c_name,u2.avater as c_avater,u2.id as c_user_id
	from moment m , comment c  ,user u1,user u2
	where c.moment_id = m.id and m.user_id = u1.id and c.user_id = u2.id and m.user_id = #{userId}
	limit 10
</select>
</mapper>