<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.ssm.dao.IMomentDao">
<resultMap type="com.zy.ssm.domain.Moment" id="resultMomentMap">
	<id property="id" column="m_id" />
	<!-- <result property="content" column="m_content" javaType="String" jdbcType="BLOB"/> -->
	<result property="shortContent" column="short_content" />
	<result property="userId" column="m_user_id"  />
	<result property="userAvatar" column="m_avatar" />
	<result property="userName" column="m_name"/>
	<result property="zanNum" column="zan_num" />
	<result property="commentNum" column="comment_num"/>
	<result property="createDate" column="m_create_date"/>
	<!-- <association property="user" javaType="com.zy.ssm.domain.User">
		<id property="id" column="m_user_id"/>
		<result property="name" column="m_name" />
		<result property="avater" column="m_avater" /> 
	</association> -->
	 <collection property="comments" ofType="com.zy.ssm.domain.Comment" >
	 	<id property="id" column="c_id" />
		<result property="content" column="c_content" javaType="String" jdbcType="VARCHAR" />
		<result property="userName" column="c_name" javaType="String" jdbcType="VARCHAR" />
		<result property="userAvatar" column="c_avatar"/>
		<result property="createDate" column="c_create_date"/>
		
		<!-- <association property="user" javaType="com.zy.ssm.domain.User" >
			<id property="id" column="c_user_id" />
			<result property="name" column="c_name" />
			<result property="avater" column="c_avater"/>
		</association> -->
	</collection> 
</resultMap>
<resultMap type="com.zy.ssm.domain.Moment" id="detailMomentResultMap">
	<id property="id" column="m_id" />
	<result property="content" column="m_content" javaType="String" jdbcType="BLOB"/>
	<result property="shortContent" column="short_content"/>
	<result property="userId" column="m_user_id"  />
	<result property="userAvatar" column="m_avatar" />
	<result property="userName" column="m_name"/>
	<result property="zanNum" column="zan_num" />
	<result property="commentNum" column="comment_num"/>
	<result property="createDate" column="m_create_date"/>
</resultMap>


<select id="getMomentsByUserId" resultMap="resultMomentMap">
	select m.id as m_id,m.short_content as short_content,m.user_id as m_user_id,m.zan_num,m.comment_num,m.create_date as m_create_date,
	m.user_name as m_name,m.user_avatar as m_avatar,
	com.user_name as
	c_name,com.content as c_content
	from moment m
	left join 
	(select c1.id,c1.moment_id, c1.content,c1.user_name from comment c1 where 
	 <![CDATA[( select count(1) from comment c2 where c2.moment_id = c1.moment_id and c2.id > c1.id ) < 2]]>
	 where m.user_id = #{userId}
	 order by c1.id desc ) as com on com.moment_id = m.id
	limit 10
</select>

<select id="getAllMoments" resultMap="resultMomentMap">
	select m.id as m_id,m.short_content as short_content,m.user_id as m_user_id,m.zan_num,m.comment_num,m.create_date as m_create_date,
	m.user_name as m_name,m.user_avatar as m_avatar,
	com.user_name as
	c_name,com.content as c_content
	from moment m
	left join 
	(select c1.id,c1.moment_id, c1.content,c1.user_name from comment c1 where 
	 <![CDATA[( select count(1) from comment c2 where c2.moment_id = c1.moment_id and c2.id > c1.id ) < 2]]>
	 order by c1.id desc ) as com on com.moment_id = m.id
	limit 10
</select>
<select id="getFollowedMoments" resultMap="resultMomentMap">
	select m.id as m_id, m.short_content as short_content,m.user_id as m_user_id,m.zan_num,m.comment_num,m.create_date as m_create_date,
	c.content as c_content,c.create_date as c_create_date,c.id as c_id,
	m.user_name as m_name,m.user_avatar as m_avatar,c.user_name as c_name,c.user_avatar as c_avatar,c.user_id as c_user_id
	from moment m
	left join user_follow uf on m.user_id = uf.followed_user_id
	left join comment c  on  c.moment_id = m.id
	where uf.user_id = #{userId}
	order by m.create_date desc
	limit 10
</select>
<select id="getMomentDetailById" resultMap="detailMomentResultMap">
	<!-- select m.id as m_id, m.content as m_content,m.user_id as m_user_id,m.zan_num,m.comment_num,m.create_date as m_create_date,
	c.content as c_content,c.create_date as c_create_date,c.id as c_id,
	u1.name as m_name,u1.avatar as m_avatar,u2.name as c_name,u2.avatar as c_avatar,u2.id as c_user_id
	from moment m
	left join user u1 on m.user_id = u1.id
	left join comment c  on  c.moment_id = m.id
	left join user u2 on c.user_id = u2.id -->
	select m.id as m_id, m.content as m_content,m.short_content ,m.user_id as m_user_id,m.zan_num,m.comment_num,
	m.create_date as m_create_date,m.user_name as m_name,m.user_avatar as m_avatar
	from moment m
	where m.id = #{id}
</select>
<delete id="deleteMomentById" parameterType="Integer">
	delete from moment where id = #{momentId}
</delete>
<insert id="addMoment" parameterType="com.zy.ssm.domain.Moment" useGeneratedKeys="true" keyProperty="id">
	insert into moment (user_id,user_name,user_avatar,imgs,content,short_content,create_date) 
	values (#{userId},#{userName},#{userAvatar},#{imgs},#{content},#{shortContent},#{createDate})
</insert>

<update id="updateMoment" parameterType="com.zy.ssm.domain.Moment" >
	update moment 
	<set>
		<if test="userAvatar != null">
			user_avatar = #{userAvatar},
		</if>
		<if test="userName != null">
			user_Name = #{userName},
		</if>
		<if test="imgs != null">
			imgs = #{imgs},
		</if>
		<if test="content != null">
			content = #{content},
		</if>
		<if test="shortContent != null">
			short_content = #{shortContent},
		</if>
		<if test="zanNum != null">
			zan_num = #{zanNum},
		</if>
		<if test="createDate != null">
			create_date = #{createDate},
		</if>
		<if test="commentNum != null">
			comment_num = #{commentNum},
		</if>
	</set>
	where id = #{id}
</update>

<insert id="zanMoment">
	insert into moment_zan (moment_id,user_id) values (#{arg0},#{arg1})
</insert>

<delete id="cacelZanMoment">
	delete from moment_zan where moment_id = #{arg0} and user_id = #{arg1}
</delete>
</mapper>