<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.ssm.dao.IUserDao">
	<resultMap id="UserMapping" type="com.zy.ssm.domain.User">
        <!-- id属性来映射主键字段 -->
        <!-- <id column="order_id" property="id" javaType="int"/> -->
        <!-- result属性映射非主键字段 -->
        <result column="nick_name" property="nickName"/>
        <result column="create_date" property="createDate" javaType="Date"/>
        <result column="lastLogin_date" property="lastLoginDate" javaType = "Date" />
    </resultMap>
	<select id="getUserById" resultMap="UserMapping"
		parameterType="Long">
		select * from user where id = #{id} limit 1
	</select>
	
	 <select id="getUserByName" resultMap="UserMapping" parameterType="String">
		select * from user where name = #{name} limit 1
	</select>
	
	<select id="getUserByMobile" resultMap="UserMapping" parameterType="String" >
		select * from user where mobile = #{mobile} limit 1
	</select>
	<insert id="addUser" parameterType="com.zy.ssm.domain.User"
		useGeneratedKeys="true" keyProperty="id">
		insert into user (name,nick_name,password,mobile,create_date,avater,status)
		values(#{name},#{nickName},#{password},#{mobile},#{createDate},#{avater},#{status})
	</insert>
	<update id="updateUser" parameterType="com.zy.ssm.domain.User">
		update user 
		<set>
			<if test="name != null and name != '' ">
				name = #{name},
			</if>
			<if test="nickName != null and nickName != ''">
				nick_name = #{nickName},
			</if>
			<if test="password != null and password != ''">
				password=#{password},
			</if>
			<if test="avater != null and avater != ''" >
				avater=#{avater},
			</if>
			<if test="createDate != null">
				create_date=#{createDate},
			</if>
			<if test="mobile != null and mobile != ''">
				mobile=#{mobile},
			</if>
			<if test="lastLoginDate != null" >
				lastLogin_date=#{lastLoginDate}
			</if>
		</set>  
		where id =#{id}
	</update>
	<delete id="deleteUser" parameterType="Long">
		delete from user where id = #{id}
	</delete>  
	<insert id="followUser" parameterType="com.zy.ssm.domain.Follow" >
		insert into user_follow (followed_user_id,user_id) values(#{followedId},#{userId})
	</insert>
	<select id="checkFollow" parameterType="com.zy.ssm.domain.Follow" >
		select count(*) from user_follow where user_id = #{userId} and followed_user_id = #{followedId}
	</select>
	<delete id="cancelFollow" parameterType="com.zy.ssm.domain.Follow" >
		delete from user_follow where followed_user_id=#{followedId} and userId=#{userId} 
	</delete>
</mapper>